$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

//COLORS
$black: #000;
$white: #fff;
$main: #36f;
$gray: #8C8C8C;
$gray-light: #ededf1;
$gray-light2: #CFCFCF;
$gray-light3: #D5D5D5;
$gray-dark: #8E90A6;
$gray-dark2: #555770;
