.wrapper {
	position: relative;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1141px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;

  @include min-screen("768px") {
    padding: 0 50px;
  }
  @include min-screen("1600px") {
    padding: 0 20px;
  }
}
